#hamburger, #ch-menu{
    display: none;
}

body{
    --btn_width:225px;
    --btn_height: 45px;
    --btn_border_color: black;
}

nav{
    padding: 0;
    margin: 0;
    width: calc(100vw - 18px); /*scadem scrollbar-ul */
    background-color: var(--menu_item_color);
    height: var(--btn_height);
    position: sticky; /* ca sa ramana mereu vizibil */
    top: 0;
    margin-left: calc(-1*var(--spatiere_pag));
}

ul.menu{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: flex-start; /*center*/
    flex-wrap: wrap;

    li{
        --border_thickness_menu: 2px;
        width:var(--btn_width) ;
        height:var(--btn_height);
        background-color: var(--menu_item_color);
        overflow: hidden;
        text-align: center;
        border: var(--border_thickness_menu) solid var(--btn_border_color);
        box-sizing: border-box; /* va include si border */
        list-style-type: none;
        transition: all 0.1s linear;
        &:hover ul{
            opacity: 1;
            transform: scale(1,1);
        }
    }

    > li{
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: var(--btn_width);

        &:hover{
            overflow: visible;
            background-color: var(--hover_color);
        } /*afiseaza submeniu pe hover*/
    } /*et2-meniu, rezolva pb cu flexbox */
    
    ul{
        padding: 0;
        margin: 0;
        width: var(--btn_width);
        box-sizing: border-box;
        position: relative;
        opacity: 0;
        transform: scale(0,0);
        transform-origin: center top;
        transition: all 0.12s linear;
        left: calc(-1 * var(--border_thickness_menu));
        background-color: var(--menu_item_color);
    }
}

.mainmenu:nth-child(even){
    border-left:none;
    border-right:none;
} /* pt cele pare scoate border la stanga si dreapta*/

.submenu:nth-child(odd){
    border-top:none;
    border-bottom:none;
} /* pt cele impare scoate border sus si jos*/


ul.menu li a, ul.menu li div {
    display: block;
    line-height: calc(var(--btn_height) - 2* var(--border_thickness_menu)); /*pt a avea border mai mare, scadem de 2 ori borderul adica de sus si jos - aliniere corecta text */
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#acasa_mediu{
    display: none;
}
