html{
    font-size: 12px;
}

body{
    --spatiere_pag: 30px;/*et3 t1*/
    --padding_section:10px; /*et3 t1*/
}

#grid-pagina{
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "z-prezentare z-prezentare"
                         "z-tabel z-tabel"
                         "z-anunturi z-anunturi"
                         "z-calendar z-utilizatori "
                         "z-userdata z-siteinfo "
                         "z-others z-others";
}

img{
    width: 100%;
    max-width: 400px;
    min-width: 150px;
}

#banner_container{
    animation: none
}