html{
    font-size: 15px;
    font-family: Quicksand;
    transition: font-size 0.15s linear;
} /* marime font baza pagina */

body{
    --body_color:white;
    --text_color:black;
    --spatiere_pag: 50px; /*et3 t1*/
    --padding_section: 15px;/*et3 t1*/
    --main_color: #03D4DB;
    --hover_color:#02969C;
    --clicked_link: #01595C;
    --accent_color:#02BBC2;
    --menu_item_color:#02E0E8;
    background-color: var(--body_color);
    color: var(--text_color);
    padding-left: var(--spatiere_pag);
    padding-right: var(--spatiere_pag);
    min-width: 450px;
} /* setari body plus definirea culorilor */

body.dark{
    --body_color_dark:white;
    --text_color_dark:black;
    background-color: var(--body_color_dark);
    color: var(--text_color_dark);
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.75rem;
} /*dimensiune font derivata din dimensiunea de baza*/

#watermark{
    display: none;
}

#grid-pagina > *{
    border: 3px solid; /*et2*/
    padding: var(--padding_section); /*et3 t1*/
} /* border tuturor elementelor */

#grid-pagina > section{
    border: 3px var(--accent_color) solid;
} /* border la fiecare sectiune */

#grid-pagina{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: "z-prezentare z-prezentare z-prezentare z-prezentare"
                         "z-prezentare z-prezentare z-prezentare z-prezentare"
                         "z-tabel z-tabel z-anunturi z-anunturi"
                         "z-tabel z-tabel z-calendar z-calendar"
                         "z-utilizatori z-userdata z-userdata z-siteinfo"
                         "z-others z-others z-others z-others";
    gap: 20px 10px; /*grid-row-gap grid-column-gap etapa 3*/
} /* grid-ul de la task 4 et2 */

#prezentare{
    grid-area: z-prezentare;
}
#tabel{
    grid-area: z-tabel;
}

#calendar{
    grid-area: z-calendar;
}
 
#anunturi{
    grid-area: z-anunturi;
}
 
#utilizatori{
    grid-area: z-utilizatori;
}
#userdata{
    grid-area: z-userdata;
}
#siteinfo{
    grid-area: z-siteinfo;
}
 
#others{
    grid-area: z-others;
}

img{
    width: 100%;
    max-width: 500px;
    min-width: 200px;
}

#link-top{
    --linktop_size:40px;
    --linktop_round:20px;
    display: block;
    position: fixed;
    bottom: 20px;
    right:25px;
    opacity: 0.5;
    border: 2px solid var(--menu_item_color);
    width: var(--linktop_size);
    height: var(--linktop_size);
    text-align: center;
    line-height: var(--linktop_size);
    border-top-right-radius:var(--linktop_round) ;
    border-top-left-radius:var(--linktop_round) ;
    font-size: 2.7rem;
    color: var(--menu_item_color);
    background-color: lightgray;
    text-decoration: none;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 10px 1px grey;
}

#link-top a:visited{
    color: var(--menu_item_color);
}

#link-top:hover{
    opacity: 1;
    font-size: 3.35rem;
    background-color: var(--hover_color);
    transition: all 0.4s linear;
}

#sageata{
    display: block;
    text-align: center;
}

#tabel_container{
    width: 100%;
    display: block;
    min-width: auto;
    overflow-x: auto;
}

#t1{
    display: block;
    max-width: auto;
}

table{
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}

#t1 th, td {
    --c1:var(--menu_item_color);
    --c2:var(--hover_color);
    --table_border:1px;
    border: var(--table_border) solid black;
    width: 200px;
}

.table_header{
    border-bottom: calc(3 * var(--table_border)) solid black ;
}

.table_footer{
    border-top: calc(3 * var(--table_border)) solid black ;
}

#t1 tr:nth-child(even) td {
    border-left-color: var(--c1);
    border-right-color: var(--c2);
  }
  
#t1 tr:nth-child(odd) td {
    border-left-color: var(--c2);
    border-right-color: var(--c1);
  }  

#t1 thead{
    border: calc(2 * var(--table_border)) solid black;
}

#t1 caption{
    caption-side: bottom;
    text-align: center;
    padding-top: 10px;
}

#t1 tr:hover {
    box-shadow: inset 0px 0px 10px 1px darkgray;
    transition: all 0.4s linear;
}

.table_labels{
    font-weight:bold ;
    text-align: center;
}

.camera_icon{
    display: flex;
}

.main_heading{
    text-align: center;
    color: var(--menu_item_color);
}

a{
    color: var(--main_color);
    background-position: center;
    background-size: 0%;
    background-repeat: no-repeat;
}

a:hover{
    color: var(--hover_color);
    transition: color 0.3s linear;
}

a.link:hover{
    background-image: radial-gradient(#02979c85 40%,#8fd5cf00 80%, #8fd5cf00 100%);
    background-size: 100%;
    transition: background-size 1s linear;
}

a:visited{
    color: var(--clicked_link);
}

a:active{
    color: var(--accent_color);
    border: 2px solid black;
    transition: all 0.5s linear;
}

a[href^="http"]::before{
    content: "⮳";
    font-size: 1.5rem;
}
a[href^="http"]:hover::before{
    color: var(--accent_color);
    transition: color 0.35s linear;
}

::cue{
    background: linear-gradient(var(--clicked_link), var(--hover_color));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

video{
    display: block;
    width: 100%;
    min-width: 100px;
    max-width: 300px;
    min-height: auto;
    max-height: none;
}