html{
    font-size: 12px;
    font-family: Quicksand;
}

body{
    --spatiere_pag: 30px;/*et3 t1*/
    --padding_section:10px; /*et3 t1*/
}

#grid-pagina{
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "z-prezentare z-prezentare"
                         "z-prezentare z-prezentare"
                         "z-tabel z-tabel"
                         "z-anunturi z-calendar"
                         "z-utilizatori z-calendar"
                         "z-siteinfo z-anunturi"
                         "z-others z-others";
}