html{
    font-size: 10px;
    font-family: Quicksand;
}

body{
    --spatiere_pag: 10px; /*et3 t1*/
    --padding_section: 5px; /*et3 t1*/
    min-width: 300px;
}

img{
    width: 100%;
    max-width: 320px;
    min-width: 100px;
}

#grid-pagina{
    display: block;
    grid-template-columns: repeat(1,1fr);
    grid-template-areas: "z-prezentare"
                         "z-tabel"
                         "z-anunturi"
                         "z-calendar"
                         "z-utilizatori"
                         "z-userdata"
                         "z-siteinfo"
                         "z-others";
                         
}

#grid-pagina > *{
    margin-bottom: 15px; /*et3*/
}

body *{
    animation: none;
    transition: none;
} /*inlocuim pt elementele care vrem sa dispara animatiile */

.camera_icon{
    display: none;
    animation: none;
    transition: none;
}

#tabel_container{
    min-width: none;
    max-width: none;
    overflow-x: scroll;
}

#t1{
    width: 600px;
}