<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Termeni si conditii - Alex Mihai | Fotograf</title>
        <meta name="keywords" content=" fotograf, fotografie produs, servicii fotografie, fotograf portret, portrete, fotograf bucuresti, fotograf profesionist, fotograf nunta, fotograf eveniment, fotograf botez, fotograf cununie"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
        <meta name="description" content="Alex Mihai - fotograf eveniment, produs"><!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->
        <%- include ("../fragments/head.ejs") %> <!-- "-" - ii spune afiseaza output-ul fisierului-->
    </head>
    <body>
        <%- include ("../fragments/header.ejs") %>
        <main>
           <%- include ("../fragments/nav.ejs") %>
           <h1>Termeni si conditii</h1>
        </main>
        <%- include ("../fragments/footer.ejs") %>
    </body>
</html>