<nav id="bara_nav">
    <label id="hamburger" for="ch-menu">
        <img src="/resources/img/hamburger_menu.png" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">
    <ul class="menu">
        <li class="mainmenu"><a href="/home"><div id="acasa">Acasa</div><div id="acasa_mediu"><span class="fas fa-solid fa-house"></span></div></a>
            <ul>
                <li class="submenu"><a href="/home#s1">Story</a></li>
                <li class="submenu"><a href="/home#s2">Pe viitor</a></li>
                <li class="submenu"><a href="/home#s3">Echipament</a></li>
                <li class="submenu"><a href="/home#summary">FAQ</a></li>
            </ul>
        </li>
        <li class="mainmenu"><a href="/portfolio">Portofoliu</a>
            <ul>
                <li class="submenu"><a href="/portfolio">Portofoliu personal</a></li>
                <li class="submenu" style="border-bottom: 2px solid black;"><a href="/eventsgallery">Galerie foto</a></li>
            </ul>
        </li>
        <li class="mainmenu"><a href="/services">Servicii</a>
            <ul>
                <% for (let opt of locals.optiuniMeniu) { %>
                    <li class="submenu"><a href="/services?type=<%- opt.unnest %>"><%- opt.unnest %></a></li>
                <% } %>
            </ul>
        </li>
        <li class="mainmenu"><a href="/contact">Contact</a></li>
        <li class="mainmenu"><a href="/about">Despre mine</a></li>
        <% if(locals?.utilizator?.areDreptul?.(Drepturi.vizualizareUtilizatori)) { %>
            <li><div>Administrare</div>
                <ul>
                    <li><a href="/useri">Useri</a></li>
                    <li><a href="/grafice">Grafice</a></li>
                    <li><a href="/comenzi">Comenzi</a></li>
                </ul>
            </li>
        <% } %>
        <% if(locals.utilizator) { %>
            <li><div><%- locals.utilizator.username %></div>
                <ul>
                    <li><a href="/profil">Profil</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </li>
        <% } %>
    </ul>
</nav>